/* Ensure the host element takes up the full height of the screen */
:host {
  display: block;
  height: 100vh; 
}

.sidebar {
  width: 260px;
  height: 100%;
  background-color: #111827; /* Dark navy/black to match your design */
  color: #9ca3af;            /* Unselected text color (Gray) */
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #1f2937; /* Subtle divider line */
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.sidebar-nav {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1; /* Pushes the footer safely to the bottom of the screen */
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  text-decoration: none;
  color: #9ca3af;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.2s ease;
}

.nav-item:hover {
  background-color: #1f2937;
  color: #ffffff;
}

/* Angular will automatically apply this class to the <a> tag 
  if the browser URL matches the routerLink path. 
*/
.active-link {
  background-color: #1f2937;
  color: #ffffff;
  border-left: 4px solid #3b82f6; /* The blue highlight indicator */
}

.sidebar-footer {
  padding: 16px;
  border-top: 1px solid #1f2937;
}

/* 
   Logout Button (Sidebar Style)
*/

.logout-btn {
  width: 100%;
  display: flex;
  align-items: center;

  padding: 12px 16px;
  margin-top: 10px;

  font-size: 14px;
  color: #e5e7eb;

  background: transparent;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  text-align: left;

  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Hover effect */
.logout-btn:hover {
  background-color: #1f2a44;
  color: #ef4444; /* subtle red */
}